<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.googlequicksearchbox.permission.ACCESS_ASSISTANT" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        android:minSdkVersion="30"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:supportsRtl="true"
        android:theme="@style/Home.Light"
        tools:targetApi="31">
        <receiver
            android:name=".Clock"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_info" />
        </receiver>

        <activity
            android:name=".ArcSettingsActivity"
            android:exported="true"
            android:theme="@style/Home.Light"></activity>
        <activity
            android:name=".GestureSettingsActivity"
            android:exported="true"
            android:theme="@style/Home.Light"></activity>

        <activity
            android:name=".HomeScreen"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/Home.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>
        <activity android:name=".Drawer" />
    </application>

</manifest>